.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    margin: 5px;
}

.card-title{
    background-color:#48acb8;
    color: white;
    text-align: center;
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    padding: 0 10px;
}

.card-body li:nth-child(odd){
    background-color: #80deea;
}

.card-body li:nth-child(even){
    background-color:#b4ffff;
}